.form-input {
  width: 100%;
  color: #202325;
  background: #000;
  background: transparent;
  padding: 8px 10px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  text-align: left;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
}

select.form-input {
  padding: 0 10px;
}

.form-input:focus {
  outline: none;
}

.menhgia-item.active {
  outline: 3px solid #d43831;
}

.input-radio {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.input-radio-lock {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.input-radio-lock {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 48%;
  border: 2px solid #d43831;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 48%;
  border: 2px solid #d43831;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input-radio:checked {
  background-color: #d43831;
  border-color: #d43831;
  box-shadow: inset 0 0 0 3px white;
}

.menhgia-item-lock {
  display: flex;
  cursor: pointer;
  padding: 7px 0;
  border-bottom: 1px solid #ececec;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  border-top: 0;
}

.menhgia-item {
  display: flex;
  cursor: pointer;
  padding: 7px 0;
  border-bottom: 1px solid #ececec;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  border-top: 0;
}

.menhgia-themdiem-title {
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  border-top: 0;
  color: #d43831;
}

.menh-gia {
  width: 150px;
  padding: 0 3% 0 8%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  box-sizing: border-box;
  position: relative;
}

.them-diem {
  min-width: 0;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 5% 0 8.3%;
  box-sizing: border-box;
  padding: 0 0 0 5%;
}

.result {
  color: #ff0d00;
  margin: 7px 0 0px 0px;
}

.submithihi {
  width: 100%;
  background-color: #d9534f;
  border-radius: 1px;
  border: 1px solid #d9534f;
  padding: 10px 0px;
  color: #FFFFFF;
  margin-right: 3px;
  margin-top: 0px;
}


.input-hihi {
  width: 100%;
  color: #202325;
  background: transparent;
  padding: 10px 10px;
  border: 1px solid #c6c6c6;
  outline: none;
}

.title-form {
  padding: 9px 1px 10px 1px;
}

.input-form-hihi {
  padding: 1px 1px;
}

.loaithe-item {
  flex-basis: 120px;
  height: 70px;
  border: 1px solid #eee;
  border-radius: 3x;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
}

.loaithe-img {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaithe-img img {
  max-width: 70%;
  max-height: 70%;
}

.loaithe-item.selected {
  border-color: #d43831;
}

.loaithe-item.selected::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #d43831 transparent;
}

.form-loaithe {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 7px 0px 7px;
  background-color: #fff;
  margin: 5px 0px 5px 0px;
}


.form-menhgia-mtsr {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}

.form-menhgia {
  width: 50%;
  background-color: #fff;
  padding: 0px 7px;
  margin-bottom: 7px;
}

.form-mtsr {
  width: 50%;
  background-color: #fff;
  padding: 0px 7px 7px 7px;
}

/* Định dạng cho điện thoại di động */
@media (max-width: 767px) {
  .form-menhgia {
    width: 100%;
  }


  .form-mtsr {
    width: 100%;
  }
}

.divider {
  flex-basis: 1px;
  background: #eee;
  margin: 0 10px;
}


.form-dangnhap {
  background-color: #fff;
  padding: 0px 10px 40px 10px;
}

.inputdangnhap {
  width: 100%;
  color: #202325;
  background: transparent;
  padding: 10px 10px;
  border: 1px solid #c6c6c6;
  outline: none;
}

.login-uid {
  background-color: #ee4e2e;
  border-radius: 2px;
  border: 3px solid #ee4e2e;
  padding: 8px 10px;
  color: #FFFFFF;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-garena {
  background-color: #d9534f;
  border-radius: 2px;
  border: 3px solid #d9534f;
  padding: 8px 10px;
  color: #FFFFFF;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-facebook {
  background-color: #4267b2;
  border-radius: 2px;
  border: 3px solid #4267b2;
  padding: 8px 10px;
  color: #FFFFFF;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-apple,
.login-google {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #BBBBBB;
  padding: 8px 10px;
  color: #000000;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-vk {
  background-color: #4f7cb3;
  border-radius: 2px;
  border: 1px solid #3f7cb3;
  padding: 8px 10px;
  color: #FFFFFF;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.login-twitter {
  background-color: #1d9ceb;
  border-radius: 2px;
  border: 1px solid #1d9ceb;
  padding: 8px 10px;
  color: #FFFFFF;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.select-dangnhap {
  margin: -2px 0px 0px 0px;
}

.select-dangnhap2 {
  padding: 4px 0px 4px 0px;
}

.canhbao12px {
  font-size: 12px;
  font-style: italic;
  color: red;
}

.form-nap-the {
  padding:  0px 0px 0px;
}

.km {
  color: #008000;
}